.card{
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .pfp{
  max-width: 60%;
  height: auto;
  border-radius: 0%;
  margin-bottom: 10px;
}

.card .cardTitle{
  font-size: 1.3em;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .cardText{
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  margin: 5px;
  color: hsl(0, 0%, 30%);
}

.card .followBtn {
  background-color: hsl(0, 3%, 34%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  color: hsl(0, 3%, 76%);
}